# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# CSV files (if these are data files you don't want to commit)
*.csv

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

bank_parser_env
page_*_text.txt
202503_ZAK.pdf
extracted_text.txt
full_ocr_text.txt
